    <!-- About Section -->
    <section id="about" class="bg-light text-center">
      <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <br/><br/>
              <h2>About Siskin IM</h2>
                <img width="256" src="img/siskin-logo.png"/>
              <br/>
                <p style="text-align: center;">Siskin IM by Tigase, Inc. is a lightweight and powerful XMPP client for iPhone and iPad.</p>
                <p style="text-align: center;">It provides an easy way to talk and share moments with your friends</p>
                <a href="https://itunes.apple.com/us/app/tigase-messenger/id1153516838"><img width="30%" src="img/appstore-download.svg"/></a>
                <br/>
                <br/>
              </div>
              <div class="col-lg-2"></div>
        </div>
      </div>
    </section>
